<h1>Planets</h1>
<table>
  <thead>
    <tr>
      <th>Ordinality</th>
      <th>Name</th>
      <th>Size</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
    <% @planets.each do |planet| %>
    <tr>
      <td> <%= planet.ordinality %> </td>
      <td> <%= planet.name %> </td>
      <td> <%= planet.size %> </td>
      <td> <%= planet.distance %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
