form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: 600;
}

.add-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  /* border: 1px solid black; */
}

#reason {
  width: 40%;
  height: 100px;
  resize: none;
}
