<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href=" {{ url_for('static', filename='favicon.ico')}}">

    <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet href="{{ url_for('static', filename='css/sticky-footer-navbar.css')}}">
    <title> {% block title%} {% endblock %} </title>
</head>
<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Planet Database</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_planet') }}">Add</a>
                </li>
            </ul>

        </div>
    </nav>

</header>

<main role="main" class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category,message in messages %}
        <div class="alert alert-primary" role="alert"> {{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Take-home interview project for LCO, by Raleigh Littles.</span>
    </div>
</footer>

</body>
</html>