
body {
    font: 200 1em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    padding: 3em;
    margin: 0;
}
input, select, textarea {
    font: 200 1em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    outline: none;
    border: 1px solid #eee;
    padding: 0.35em 0.5em;
    background-color: transparent;
}
