{% extends "index.html" %}
{% block content %}
<div>
    <form action="add_planet" method="post">
        <div>
            Name:
            <input type="text" name="planet_name">
            Size:
            <input type="number" name="size">
            Distance:
            <input type="number" name="distance">
            Ordinality:
            <input type="number" name="ordinality">
        </div>
        <div>
            Description:
            <input type="text" name="description">
        </div>

        <input type="submit">
    </form>
</div>
{% endblock content %}